<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
		<client>
            <endpoint address="net.msmq://localhost/private/bankingdepartment" binding="netMsmqBinding"
                bindingConfiguration="QueueBinding" contract="BankingDepartment.IBankingDepartment"
                name="QueueEndpoint" />
        </client>
		
		<bindings>
            <netMsmqBinding>
                <binding name="QueueBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
		
		<services>
			<service name="RestService.RestService">
			  <endpoint address="http://localhost:8085/" behaviorConfiguration="RestBehavior"
				binding="webHttpBinding" name="RestEndpoint" contract="RestService.IRestService" />
			</service>
		</services>
				
		<behaviors>
			<endpointBehaviors>
			    <behavior name="RestBehavior">
				  <webHttp helpEnabled="true" />
			    </behavior>
			</endpointBehaviors>
		</behaviors>
		  
		
    </system.serviceModel>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    
</configuration>