<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HostUrl" value="http://localhost:8085" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="BankingDepartmentQueueBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BankingDepartmentBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="BankingDepartmentBehavior" name="BankingDepartment.BankingDepartment">
        <endpoint address="" binding="netMsmqBinding" bindingConfiguration="BankingDepartmentQueueBinding" name="QueueEndpoint" contract="BankingDepartment.IBankingDepartment"/>
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BankingDepartment/"/>
            <add baseAddress="net.msmq://localhost/private/bankingdepartment"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
