<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="QueueEndpoint">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/bankingdepartment"
                binding="netMsmqBinding" bindingConfiguration="QueueEndpoint"
                contract="BankingDepartment.IBankingDepartment" name="QueueEndpoint" />
        </client>
    </system.serviceModel>
</configuration>